<div class="wrapper">
  <div class="inner-wrapper">
    <div class="title">
      <%= image_tag "cupid.svg", width: "100", class: 'img-mirror' %>
      <h1>Welcome to Lovebot,<br/> the bot that spreads the love!</h1>
      <%= image_tag "cupid.svg", width: "100" %>
    </div>

    <div class="content">
      <div>I'm a real cupidbot!</div>
      <div>There is too much hate and drama on Twitter - but don't worry, I'm here to help!</div>
      <div>
        If you want, I'll automatically fav' all tweets mentioning you, on your behalf.
      </div>
      <div>
        This way, you'll help spread the love on Twitter, doing nothing!  
      </div>
      <div><%= image_tag "kawaii.svg", width: '100' %></div>

      <% if !current_account %>
        <%= button_to "Login with Twitter", "/auth/twitter" %>
      <% elsif current_account.active %>
        Yay! I'm working very hard finding your mentions and fav'ing them for you!
        <%= button_to [current_account, :stop] do %>
          Stop fav'ing more mentions for <%= current_account.name %>
        <% end %>
      <% else %>
        <%= button_to [current_account, :spread_the_love] do %>
          Spread the love for <%= current_account.name %>
        <% end %>
        I'll fav your most recent mention and then will automatically fav when you receive mentions!
      <% end %>

      <% if current_account %>
        <%= button_to [current_account, :logout] do %>
          Logout
        <% end %>
      <% end %>
    </div>
  </div>
</div>
